﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Stillerim.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: gainsboro">
   
    <div class="navbar-fixed-top" style="100px;">
        <div style="height:70px;background-color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <img src="~/Content/images/Adsız.png" style="width:80px; height:68px" />
                    </div>
                    <div class="col-md-5" style="padding-top:15px; text-align:right;">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Kitap adı, yazar, yayın evi">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" style="padding-top:10px; text-align:center">
                        <span class="glyphicon glyphicon-shopping-cart" style="font-size:40px"></span>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown" style="text-align:center; padding-top:10px;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                TR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">EN</a></li>
                                <li><a href="#">TR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top:10px">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-log-in"></span> Giriş
                        </button>
                    </div>
                    <div class="col-md-1" style="padding-top:10px; text-align:right;">
                        <img style="width:20px; height:20px;" src="~/Content/images/twitter.png" />
                        <img style="width:20px; height:20px;" src="~/Content/images/googleplus.png" />
                        <img style="width:20px; height:20px;" src="~/Content/images/facebook.png" />
                    </div>
                </div>
            </div>
        </div>
        <div style="height:30px; background-color: #ff9f40;">
            <div class="container" style="padding-top:7px">
                <div class="row">
                    <div class=col-md-6>
                        <div class="row">

                            <div class="col-md-3 ">
                                <a href="#" class="menusolyazı"> Yeni Çıkanlar</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="menusolyazı"> Kategoriler</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="menusolyazı"> Kampanyalar</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="menusolyazı"> Çok Satanlar</a>
                            </div>
                        </div>
                    </div>

                    <div class=col-md-6>
                        <div class="row">
                            <div class="col-md-7">

                            </div>

                            <div class="col-md-1">
                                <a href="#" class="menusagyazı">Kitap</a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" class="menusagyazı">Dergi</a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" class="menusagyazı">Yazar</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="menusagyazı">Yayın evi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container" style="padding-top:100px;">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year | Tüm Hakları Saklıdır. </p>
        </footer>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #cc5200;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
